//* This are the css styles for the assignment */ 

body {
      background-color: #FFC18E;
      font-size: 12px;
      color: white;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#navbar{
    background-color:#73A9AD;
    border-radius: 0%;
    border: 0;

}
.navbar-brand{
    font-size: 20px;
}

.container {
    width: 100%;
    height: auto;
    
}
.container #box {
    margin:5px;    
    
}

#box {
    display: inline-block;
    position: relative;
    background: #7A4069;
    height: auto;
    
}


p {
    padding: 40px 10px 4px 10px;
    text-align: justify;
}
h1{
    color:bisque;
}

h4 {
    text-align: center;
}

h2{
    font-size: 3em;
    text-align: center;
}

.label { 
    font-size: 1.25em;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    margin:auto;
}


#label1 {
    background:cornflowerblue;
}

#label2 {
    background: olivedrab;
}

#label3 {
    background: plum;
}

/* This is the @media code for Desktop */

@media (min-width: 992px) and (max-width: 2560px) {
    #box {
        width: 32%;
    }
}


/* This is the @media code for the tablet devices */

@media (min-width: 768px) and (max-width: 991px) {
    div#box1 .box {
        width: 50%;
    }

    div#box2 .box {
        width: 50%;
    }

    div#box3 .box {
        width: 100%;
    }
}


/* This is the @media code for Mobile devices */

@media (min-width: 320px) and (max-width: 767px) {
    .box {
        width: 100%;
    }
}



