/* This are the css styles for the assignment */ 

body {font-size: 12px;
      color: white;
      background-color: rgba(10, 104, 68, 0.77);
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#navbar{
    background-color: rgb(204, 176, 16);
    border-radius: 0%;
    border: 0;

}
.navbar-brand{
    font-size: 30px;
}

.container {
    width: 100%;
    height: auto;
    margin:2px;
}
.container #box {
    margin:auto;
    
    
}

#box {
    display: inline-block;
    position: relative;
    background: rgb(81, 78, 78);
    height: auto;
    margin-bottom: 12px;
}


p {
    padding: 40px 10px 4px 10px;
    text-align: justify;
}

h4 {
    text-align: center;
}

h2{
    font-size: 3em;
    text-align: center;
}

.label { 
    font-size: 1.25em;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    margin:auto;
}


#label1 {
    background:cornflowerblue;
}

#label2 {
    background: olivedrab;
}

#label3 {
    background: plum;
}
