/* This are the css styles for the assignment  */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(215, 189, 123);
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    padding: 15px 0 15px 0;
    text-align: center;
    font-size: 1.75em;
}

.container {
    width: 100%;
    height: auto;
    margin:2px;
}

.box {
    display: inline-block;
    border: 1px solid black;
    position: relative;
    background: #ffffe6;
    height: auto;
    margin-bottom: 10px;
}

p {
    padding: 40px 10px 4px 10px;
    text-align: justify;
}

h4 {
    text-align: center;
}

.label {
    border: 1px solid black;
    font-size: 1.25em;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
}

#label1 {
    background:cornflowerblue;
}

#label2 {
    background: olivedrab;
}

#label3 {
    background: plum;
}


/* This is the @media code for Desktop */

@media (min-width: 992px) and (max-width: 2560px) {
    .box {
        width: 33%;
    }
}


/* This is the @media code for the tablet devices */

@media (min-width: 768px) and (max-width: 991px) {
    div#box1.box {
        width: 50%;
    }

    div#box2.box {
        width: 50%;
    }

    div#box3.box {
        width: 100%;
    }
}


/* This is the @media code for Mobile devices */

@media (min-width: 320px) and (max-width: 767px) {
    .box {
        width: 100%;
    }
}
